-r requirements.txt
asgiref==3.8.1
beautifulsoup4==4.13.3
flake8==5.0.4
gunicorn==23.0.0
mccabe==0.7.0
packaging==24.2
pycodestyle==2.9.1
pyflakes==2.5.0
soupsieve==2.6
typing_extensions==4.12.2
whitenoise==6.8.2
